<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="fr">
    <meta charset="UTF-8"/>
    <title>Page des TER de M1</title>
    <link rel="stylesheet" href="/main.css" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<h1>Page des TER de M1</h1>
(cette page est un peu aride !)
<br/>
<br/>


<a class="btn btn-dark" th:href="@{/listTeachers}">Teachers List</a>
<br/>
<a class="btn btn-dark" th:href="@{/listStudents}">Students List</a>
<br/>
<a class="btn btn-dark" th:href="@{/listSubjects}">Subjects List</a>
<br/>
<a class="btn btn-dark" th:href="@{/listGroups}">Groups List</a>
<br/>
<br/>
<a class="btn btn-danger" th:href="@{/logout}">Logout</a>
</body>
</html>